h1, h2 {
    /* Comment here*/
    color:blue;
    border: 6px solid cyan;
    background-color: darkgreen;
}
* {
    text-align: center;
}

#title {
    color: blueviolet;

}

p.nice {
    color: crimson;
}